body {
    font-family: "Helvetica", "Lucida Grande", "SansSerif";
    font-size: 7vw;
    padding: 0;
    margin: 0;
}

#right-panel, #temperature {
    float: left;
}

#temperature {
    font-size: 23vw;
}

#temp-slider {
    clear: both;
}

input[type="range"] {
    width: 100vw;
    padding: 0;
    margin:0;
}