body {
    font-family: "Helvetica", "Lucida Grande", "SansSerif";
    font-size: 7vw;
    padding: 0;
    margin: 0;
    background: #333333;
    color: #ffffff;
}

#right-panel, #temperature {
    float: left;
    margin: 5vw 0 0 2vw;
}

#temperature {
    font-size: 23vw;
}

#temp-slider {
    clear: both;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 20vh 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2vw;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 5px 2px #000000 inset;
    background: linear-gradient(to right, rgba(14,98,176,1) 0%, rgba(209,42,12,1) 100%);
    border-radius: 1.3px;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 5px 2px #000000;
    border: 1px solid #000000;
    height: 6vw;
    width: 18vw;
    border-radius: 3vw;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2vw;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 2vw;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 5px 2px #000000 inset;
    background: linear-gradient(to right, rgba(14,98,176,1) 0%, rgba(209,42,12,1) 100%);
    border-radius: 1.3px;
    border: none;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 5px 2px #000000;
    border: 1px solid #000000;
    height: 6vw;
    width: 18vw;
    border-radius: 3vw;
    background: #ffffff;
    cursor: pointer;
}